// Package boundaryは、ワークショップで作成するanalyzerを提供します。
package boundary

import (
	"go/ast"

	"golang.org/x/tools/go/analysis"
	"golang.org/x/tools/go/analysis/passes/inspect"
	"golang.org/x/tools/go/ast/inspector"
)

const doc = "check whether table-driven tests cover integer boundary values"

// AnalyzerはStep 1まで実装したanalyzerです。
var Analyzer = &analysis.Analyzer{
	Name: "boundary",
	Doc:  doc,
	Run:  run,
	Requires: []*analysis.Analyzer{
		inspect.Analyzer,
	},
}

func run(pass *analysis.Pass) (any, error) {
	inspectResult := pass.ResultOf[inspect.Analyzer].(*inspector.Inspector)
	if !containsTestFile(pass) {
		return nil, nil
	}

	nodeFilter := []ast.Node{(*ast.FuncDecl)(nil)}
	inspectResult.Preorder(nodeFilter, func(node ast.Node) {
		function := node.(*ast.XXXX) // TODO(Step 1): XXXXを書き換える
		if isTestFile(pass, function.Pos()) {
			return
		}

		pass.Reportf(function.Name.Pos(), "found function %s", function.Name.Name)
	})

	return nil, nil
}
